/* font-family: 'Mate', serif; */
@import url(http://fonts.googleapis.com/css?family=Mate:400,400italic);

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Mate', serif;
  font-size: 18px;
  text-align: center;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.meta {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site-header {
  color: #666;
  width: 42em;
  margin: 1em auto;
}

.site-header a { color: #aaa; }

h1.title {
  float: left;
}

.site-header .contact {
  text-align: right;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post-header {
  font-size: 3em;
  color: #000;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post-signature {
  width: 30%;
  float: right;
  margin: 0 0 1em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
