/**
 *  Base
 */

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Palatino Linotype', serif;
  font-size: 22px;
  color: #333;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Lucida Sans', sans-serif; }

a { color: #999; }

blockquote { border-left: solid 4px #eee; margin-left: 0; padding-left: 2em; quotes: '\201C' '\201D'; }
blockquote cite:before { content: '\2014 '; }


/**
 *  Utility
 */

.clearfix:before,
.clearfix:after,
.navbar:before
.navbar:after {
  display: table;
  content: ' ';
  clear: both;
}


/**
 *  Layout
 */

.l-container { margin-left: auto; margin-right: auto; padding-left: 30px; padding-right: 30px; }
@media (min-width: 780px) {
  .l-container { width: 750px; padding-left: 15px; padding-right: 15px; }
}
.l-row { margin-left: -15px; margin-right: -15px; }


/**
 *  Nav
 */

.nav { padding-left: 0; list-style: none; }
.nav > li { display: inline-block; }
.nav > li > a { display: inline-block; padding: 15px 10px; }

/**
 *  Navbar
 */

.navbar {
  position: relative;
  height: 60px;
  border-bottom: solid 1px #ccc;
  padding: 0;
}

.navbar-header { display: inline-block; }
.l-container > .navbar-header { margin-left: -15px; }
.navbar-brand { display: inline-block; padding: 20px 10px; font-family: 'Lucida Sans', sans-serif; font-size: 70%; text-decoration: none; }
@media (min-width: 430px) {
  .navbar-brand { font-size: 80%; }
}
.l-container > .navbar-header > .navbar-brand { padding-left: 0; }
.navbar-nav { margin: 0; }
.navbar-right { float: right; margin-right: -15px; }
.navbar-left { float: left; }


.navbar .navbar-brand,
.navbar .nav-icon { transition: color 0.5s; }

.navbar .navbar-brand:hover,
.navbar .nav-icon:hover { color: #333; }

/**
 *  Post List
 */

.post-list {}
.post-list-item { border-bottom: solid 1px #f6f6f6; transition: background-color 0.5s; }
.post-list-item:hover { background-color: #f6f6f6; }
.post-list-link { color: #333; display: block; text-decoration: none; padding-top: 30px; padding-bottom: 30px; transition: color 0.5s;}

.post-list-link > h1 { margin-top: 0; margin-bottom: 0; }
.post-list-link > h1:after { content: ' \00BB'; }



/**
 *  Custom crap
 */

.post-signature { width: 200px; float: right; margin-top: 1em; margin-bottom: 2em; padding-right: 2em; }



/**
 *  Marcus Stenbeck Logo
 */

/* Bottom left magenta triangle */
.ms-logo {
  display: inline-block;
  position: relative;
  border-right: solid 10px black;
  width: 0;
  height: 0;
  border-top: solid 0 transparent;
  border-left: solid 0 transparent;
  border-right: solid 0.25em transparent;
  border-bottom: solid 0.25em #f94df8;
  margin-left: 1em;
  margin-top: 0.75em;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Top left yellow triangle */
.ms-logo:before {
  position: absolute;
  top: -0.75em;
  left: -1em;
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: solid 0.5em transparent;
  border-right: solid 0 transparent;
  border-left: solid 0.5em #f8f94d;
  border-bottom: solid 0.5em transparent;
}

/* Middle cyan triangle */
.ms-logo:after {
  position: absolute;
  top: -0.75em;
  left: -1em;
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-top: solid 0 transparent;
  border-right: solid 0 transparent;
  border-left: solid 1em transparent;
  border-bottom: solid 1em #4df8f9;
}

